@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color:sienna;
    background-color:rgba(0,255,0, 1.0); /* rgb 0 - 255 */
    background-color:#999999;
    
    /* write a comment in css */
}

h1{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 100;
    font-style: italic;
}
h2{
    font-family: cursive; 
    text-transform: capitalize;
}

ul{
    list-style: square;
}

ul li{
    color: blue; 
}

li{
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:hover{
    color: pink;
}

img{
    width: 300px;
}