:root {
  --main-border: 3px solid #4c75af;
}

figure {
  border: var(--main-border);
  padding: 10px;
  margin: 20px 0;
  max-width: 600px;
}

@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color:rgb(181, 41, 150);
}

header{
    width: 960px;
    background-color: pink;
    height: auto;
    padding: 20px;
    border: 5px solid white;
    margin-top: -7px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

main{
    width: 960px;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 5px dotted pink;
    border-right: 5px dotted pink;
    margin: 0px auto; /* top and bottom to 0px, and left and right to auto */
}

footer{
    width: 960px;
    height: 50px;
    background-color: pink;
    border-left: 5px dashed white;
    border-right: 5px dashed white;
    margin: 0px auto;
}

img{
    width: 300px;
    /* height: 100px; */
    /* use width or height when setting img sizes */
}

.greyBackground{
    background-color: lightcyan;
}

.pinkBackground{
    background-color: lightpink;
}


.lightyellowBackground{
    background-color: rgb(253, 255, 197);
}


.lightblueBackground{
    background-color: rgb(197, 244, 255);
}

nav{
    width: 400px;
    margin: 0px auto;
    border-bottom: black 1px solid;
}

nav ul{

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
}

nav ul li a:hover{
    background-color: aliceblue;

}